<div class="tablecontainer">
  <button class="btn btn-default pull-right" (click)="altaPiloto()">Alta Piloto</button>
<table class="table table-hover">
  <thead class="headerblack">
  <tr>
    <th>#</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Dni</th>
    <th>Ultimo Sorteo</th>
    <th>Fecha Alta</th>
    <th>Ultima Modificacion</th>
    <th>Acciones</th>
    <th>Participan del sorteo</th>
  </tr>
  </thead>
  <tbody class="tablebody">
  <tr *ngFor="let pilot of pilotList">
    <th>{{pilot.id}}</th>
    <td>{{pilot.nombre}}</td>
    <td>{{pilot.apellido}}</td>
    <td>{{pilot.dni}}</td>
    <td *ngIf="pilot.ultimoSorteo != null">{{pilot.ultimoSorteo?.toLocaleDateString()}}</td>
    <td *ngIf="pilot.ultimoSorteo == null">....</td>
    <td>{{pilot.fechaAlta.toLocaleDateString()}}</td>
    <td *ngIf="pilot.fechaModificacion != null">{{pilot.fechaModificacion?.toLocaleDateString()}}</td>
    <td *ngIf="pilot.fechaModificacion == null">....</td>
    <td>
      <button class="btn btn-link" title="Eliminar" (click)="deletePilot(pilot)"><i class="fa fa-trash" id="delete"></i></button>
      <button class="btn btn-link" title="Editar" (click)="editoPilotInfo(pilot)"><i class="fa fa-pencil" id="edit"></i></button>
    </td>
    <td>
      <label class="custom-control custom-checkbox" (click)="changePatipaDeSoretos(pilot, participaDelSorteoCheckBox)">
        <input type="checkbox" style="display: none" class="custom-control-input" #participaDelSorteoCheckBox>
        <span class="custom-control-indicator"></span>
      </label>
    </td>
  </tr>
  </tbody>
</table>
</div>

<div class="modal fade" bsModal #popupPilotModal="bs-modal">
  <div class="contentModalScroll">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <app-pilot-modal #popupPilotComponent (save)="save($event)" (cancel)="popupPilotModal.hide()"></app-pilot-modal>
      </div>
    </div>
  </div>
</div>
